<header>
  <div class="bar grid">
    <a class="wordmark" href="index.html">Pooja Balasubramanian</a>
    <nav>
      <a href="writing.html">Writing</a>
      <a href="film.html">Film</a>
      <a href="exhibitions.html">Exhibition</a>
      <a href="teaching.html">Teaching</a>
      <a href="about-cv.html">About/CV</a>
    </nav>
  </div>
  <div class="menu-rule grid">
    <div class="menu-rule-line">
      <span class="end"></span>
      <span class="end"></span>
    </div>
  </div>
</header>
